.panel-container {
    position: relative;
}

.panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    /* background-color: #000000; */
    /* border: 1px solid #ccc; */
    /* color: white; */
    padding: 0px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.panel-open {
    transform: translateX(-33%);
}

.panel-closed {
    transform: translateX(-130%);
}

.left-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: #000000;
    border: 1px solid #ccc;
    color: white;
    padding: 20px;
    overflow-wrap: break-word;
    height: 100%;
    width: 90%;
    float: left;
    /* flex: 50%; Use flex-grow to occupy 90% of the width */
    background-color: blue;
}

.right-div {
    height: 100%;
    float: right;
    width: 10%;
    /* flex: 50%; Use flex-grow to occupy 10% of the width */
    background-color: red;
}
  