.panel-container {
    position: relative;
}

.panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    max-width: 30%;
    display: flex;
    padding: 0px;
    /* transition: transform 0.3s ease-in-out; */
}

@media screen and (min-aspect-ratio: 3/1) and (max-aspect-ratio: 10/1) {
    .panel {
        /* background-color: purple; */
        width: 25%;
        max-width: 25%;
    }
}

@media screen and (min-aspect-ratio: 3/2) and (max-aspect-ratio: 3/1) {
    .panel {
        /* background-color: red; */
        width: 30%;
        max-width: 30%;
    }
}

@media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 3/2) {
    .panel {
        /* background-color: orange; */
        width: 35%;
        max-width: 35%;
    }
}

@media screen and (min-aspect-ratio: 1/4) and (max-aspect-ratio: 1/1) {
    .panel {
        /* background-color: yellow; */
        width: 60%;
        max-width: 60%;
    }
}

.panel-open {
    height: 100%;
    /* transform: translateX(-33%);
    transform: translateX(0%); */
}

.panel-closed {
    color: yellow;
    /* transform: translateX(-130%);
    transform: translateX(-95%); */
}

.inner-div {
    height: 100vh;
    background: rgba(77, 77, 77, 0.5);
    border: 0px solid #ccc;
    border-radius: 0px;
    color: white;
    overflow-wrap: break-word;
    height: 100%;
    flex-grow: 1;
    padding: 5%;
    max-width: 100%;
    /* background-color: blue; */
}
