.song {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.song:hover {
    transform: scale(1.1);
}
@keyframes pulse {
    0% {
        transform: scale(1); /* Initial scale */
    }
    50% {
        transform: scale(1.2); /* Scale up */
    }
    100% {
        transform: scale(1); /* Back to initial scale */
    }
}

.button-active {
    animation-name: pulse;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.left-song {
    width: 100px;
    height: 100px;
    transform: perspective(400px) rotateY(50deg);
    border-radius: 10px;
}

.left-song:hover {
    transform: perspective(400px) rotateY(50deg) scale(1.1);
}

.right-song {
    width: 100px;
    height: 100px;
    transform: perspective(400px) rotateY(-50deg);
    border-radius: 10px;
}

.right-song:hover {
    transform: perspective(400px) rotateY(-50deg) scale(1.1);
}

.centered-elems-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.title {
    max-width: 90%; /* Change this value to adjust the maximum width */
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.button {
    background-color: transparent;
    /* background-color: yellow; */
    border: none;
    /* transform: scale(3); */
    /* padding: 10px;
    padding-left: 20px;
    padding-right: 20px; */
    color: white;
}

.SVGButton:hover {
    transform: scale(1.2);
}
