.song {
    width: 100px;
    height: 100px;
}

.left-song {
    width: 100px;
    height: 100px;
    transform: perspective(400px) rotateY(50deg);
}

.right-song {
    width: 100px;
    height: 100px;
    transform: perspective(400px) rotateY(-50deg);
}
.center {
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    display: flex;
    justify-content: center;
}
